# Ignore everything
**

# Allow files and directories
!/gossh_python
gossh_python/py2
!/gossh_python/py2/__init__.py
!/gossh_python_go
!/build.sh
!/go.mod
!/go.sum
!/requirements.txt
!/setup.py
!/README.md
!/e2e_test
!/LICENSE*
!/MANIFEST.in

**/*.pyc