.idea
pkg
bin
out
src/github.com
*.pyc
*__pycache__
gossh_python/py2
gopy
.cache
.pytest_cache
.vscode
build/
dist/
gossh_python.egg-info/
.DS_Store
Makefile
go.py
private.key
public.key
build.py
.python-version
scratch.py
.eggs
*VirtualEnv*